<%= render "home/header" %>
<div class="body">
  <div class="container">
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
<%= render "books/new" %>
    <div class="col-xs-9" >
          <h2>Book detail</h2>
          <table class="table">
          	<tr>
          		<td></td>
          		<td><%= link_to @book.title , book_path %></td>
          		<td><%= @book.body %></td>
          		<td><%= link_to "Edit" , edit_book_path(@book) , class: "btn-sm btn-success edit_#{@book.id}" %></td>
          		<td><%= link_to "Destroy" , book_path, method: :delete, data: { confirm: '本当に消しますか？' } , class: "btn-sm btn-danger destroy_#{@book.id}" %></td>
           </tr>
          </table>
    </div>


<%= render "home/footer" %>